<div class="globalHeader">
  <div class="logo">
    <img src="images/logo.png" />
  </div>
  <div class="nav">
    <ul>
      <li>
        <a href="#">HOME</a>
      </li>
      <li>
        <a href="#">TEAPOT</a>
      </li>
      <li>
        <a href="#">TEACUP</a>
      </li>
      <li>
        <a href="#">GLASS</a>
      </li>
    </ul>
  </div>
</div>
