<div class="mainImg">
	<div class="mainImgInner">
		<img src="images/mainphoto.jpg" />
	</div>
</div>
<div class="content">
	<div class="productsTitle">
		<h2>PRODUCTS</h2>
		<p>あなたにぴったりの素敵な商品を取りそろえております。</p>
	</div>
	<div class="products">
		<ul>
			<li>
				<div class="image">
					<img src="images/photo1.jpg" />
				</div>
				<h3>TEAPOT</h3>
			</li>
			<li>
				<div class="image">
					<img src="images/photo2.jpg" />
				</div>
				<h3>TEACUP</h3>
			</li>
			<li>
				<div class="image">
					<img src="images/photo3.jpg" />
				</div>
				<h3>GLASS</h3>
			</li>
		</ul>
	</div>
</div>
