
/** mixin テンプレート的な機能 **/
@mixin round-btn($color:#c9c9c9x, $radius:4px) {
  display: inline-block;
  width: 200px;
  padding: 20px 10px;
  text-align: center;
  border: 1px solid #b8b8b8;

  @each $prefix in $vendor_prefixs {
    #{$prefix}border-radius:$radius;
  }
  border-radius: $radius;
  background-color:#c9c9c9x;
}
