/** sample.css **/
@charset 'UTF-8';
@import "variables";
@import "mixins";

/** ネストしたクラスを書くことができる **/
div.samp1{
  margin: 10px;
  .nest1, .nest2{
    padding:5px;
  }
}

/** for文 **/
@for $i from 10 through 15 {
  .fs_#{$i} {font-size: $basic_font_size * $i/10;}
}


/** &の使い方について、擬似要素の使用 **/
ul{
  li{
    list-style-type: none;
    margin-bottom: 10px;
    position: relative;
    span.samp2{
      font-weight:bold;
    }
    &.special{
      &:hover{
        opacity: 0.8;
      }
    }
    &:last-child{
      margin-bottom: 0px;
    }
    &:before{
      position: absolute;
      content: '';
      top:50%;
      left:-15px;
      margin-top: -5px;
      display: inline-block;
      width: 10px;
      height: 10px;
      transform: rotate(45deg);
      border-left: 1px solid #000;
      border-top: 1px solid  #000;
    }
    &:hover{
      &:before{
        transform: rotate(225deg);
      }
    }
  }
}

.btn-basic{
  @include round-btn("#2D80C4");
}

/** 継承 **/
.btn-child{
  @extend .btn-basic;
  background-color:#61DC60;
}
