<footer>
<div class="w970 inner_footer_nav">
  <div class="footer_wrap">
  <div class="logo"><a href="./"><img src="images/DT_logo.jpg" alt=""></a></div>
  	<div class="top_address">
  	<br>
  	〒171-0022<br>
  	東京都豊島区南池袋2-40-24シントミプラザ東池袋3F<br>
  	TEL：090-3509-3242 / FAX：03-3946-7610<br><br>
  	・最寄駅・<br>
  	JR山手線「池袋駅」徒歩7分<br>
  	東京メトロ有楽町線「東池袋駅」徒歩1分
  	</div>
  </div>
   <div class="footer_wrap">
    <nav class="footer_nav">
  	<ul>
  		<li><a href="#">ホーム</a></li>
  		<li><a href="school/">「非常識な」スクール</a></li>
  		<li><a href="schedule/">スケジュール・場所</a></li>
  		<li><a href="curriculum/">カリキュラム・講師紹介</a></li>
  		<li><a href="interview/">個別面接・集団面接会</a></li>
  		<li><a href="voice/">卒業生の声</a></li>
  	</ul>
  	<ul>
  		<li><a href="faq/">よくある質問</a></li>
  		<li><a href="contact/">説明会お申込み</a></li>
  		<li><a href="https://www.dt30.net/phpschool/blog" target="_blank">受講生向けブログ</a></li>
  		<li><a href="company/">会社概要</a></li>
  		<li><a href="words/">IT用語辞典</a></li>
  		<li></li>
  	</ul>
    </nav>
    </div>
  <div class="footer_wrap">
  	<div class="fb-page"
    data-href="https://www.facebook.com/DT300"
    data-width="500"
    data-hide-cover="false"
    data-show-facepile="true"></div>
  </div>
</div>
<div class="copy">c 2012 Dream Theater Co.Ltd., All Rights Reserved.</div>
  </div>
</footer>
