<header>
<div class="header_ber">
  <div class="w970">
  <h1 id="head_copy">業界No.1の実績！23日の短期で学ぶ就職/転職のためのプログラミングスクール「無料PHPスクール(Webプログラミング研修&就職・転職支援)」<br>【毎回12人限定】【IT/Web業界にエンジニアとして就職/転職したい、18～32歳限定（国籍・学歴・経験不問）】☆未経験歓迎！</h1>
  </div>
</div>
<div class="header_upper w970">
  <div class="logo">
    <a href="./"><img src="images/DT_logo.jpg" alt="" class="dt_logo"></a>
    <a href="./"><img src="images/phpschool_logo_s.png" alt="" class="phpschool_log"></a>
  </div>
  <div class="sub_nav">
    <ul class="header_link">
      <li><a href="https://www.dt30.net/phpschool/blog" target="_blank">受講生向けブログ</a></li>
      <li><a href="words/">IT用語辞典</a></li>
      <li><a href="company/">会社概要</a></li>
    </ul>
    <ul class="header_info">
      <li class="tel_list"><a href="tel:090-3509-3242">090-3509-3242</a></li>
      <li class="mail_list"><a href="mailto:info@dt30.net">info@dt30.net</a></li>
    </ul>
  </div>
  </div>

  <nav class="header_nav">
    <ul class="w970" id="menu">
      <li class="home"><a href="#">ホーム</a></li>
      <li class="school"><a href="school/">「非常識な」スクール</a></li>
      <li class="schedule"><a href="schedule/">スケジュール・場所</a></li>
      <li class="curriculum"><a href="curriculum/">カリキュラム・講師紹介</a></li>
      <li class="interview"><a href="interview/">個別面接・集団面接会</a></li>
      <li class="voice"><a href="voice/">卒業の声</a></li>
      <li class="faq"><a href="faq/">よくある質問</a></li>
      <li class="contact"><a href="contact/">説明会お申込み</a></li>
    </ul>
  </nav>
</header>
