<div class="home">
  <div class="top_img">
    <div class="w970 inner_box">
      <img src="images/top_main.png" alt="">
      <div class="top_img_text">
        <ul>
          <li class="name"><span>受講生総人数</span>742</li>
          <!--受講生総人数-->
          <li class="percent"><span>就職成功率</span>93.4</li>
          <!--就職成功率-->
          <li class="percent"><span>就職定着率</span>86.3</li>
          <!--就職定着率-->
        </ul>
        <p class="present_date">2018年6月現在</p>
      </div>
    </div>
  </div>

  <div class="top_box top_box_02">
    <div class="top_text w970">
      <div class="top_title">こんなことで、<br class="sp">悩んでいませんか？</div>
      <ul>
        <li>「<span>Webプログラマーとして就職したい</span>が、自分に適性があるのか？」</li>
        <li>「入門書で挫折して、<span>やる気がでない…。</span>」</li>
        <li>「PHPを独学で学んだが、もっと<span>『現場で使えるスキル』</span>を学びたい！」</li>
        <li>「Webデザインを勉強したけど、より安定した<span>Webプログラマー</span>として就職したい」</li>
        <li>「給与の低いHTMLコーダーから、PHPエンジニアに<span>スキルアップしたい！</span>」</li>
        <li>「業務系エンジニアから、<span>Web系エンジニアに転職したい！</span>」</li>
        <li>「IT企業に就職したが、<span>プログラミングをさせてもらえない</span>…」</li>
        <li>「<span>就活に出遅れてしまった！</span>かなり焦っている。何から始めようか…」</li>
      </ul>
    </div>
    <div class="box_02text">
      <div class="inner_box w970">
        <div class="top_title">IT/Web業界に<br class="sp">就職/転職する最短の道！</div>
        <p>株式会社ドリーム・シアターでは、新卒・既卒・第二新卒のための<br>就職・転職プログラムとして毎回12人限定の少人数での無料のPHPプログラミングスクールを開催しています。</p>
        <p>あなたも23日間で「即戦力」のIT/Webプログラマーになりませんか？</p>
        <p>あなたが諦めない限り、我々は決して諦めません。確実にあなたのお仕事をお探しします！費用はすべて無料です。</p>
      </div>
    </div>
  </div>

  <div class="top_box top_box_03">
    <div class="w970">
      <div class="box_04_upper">
        <div class="top_midashi">「23日間ではどうせ簡単なことしか学べないんじゃないの？」と思いませんか？</div>
        <div class="inner_area">
          <div class="L">
            <div class="box_04_text">
              <p>「無料PHPスクール」では、普通とは違う<span class="marker">「非常識な」勉強方法</span>で、<br>短期で「ECサイト構築レベル」まで学んでいただきます！</p>
              <p><span class="marker">「退屈で受け身的な講義」「PCの前に座って映像を見るだけの授業」</span>は<br>一切ありません!!</p>
              <p>圧倒的な就職率93.4%を誇る！</p>
            </div>
            <p class="strong">ドリーム・シアターの「無料PHPスクール」で<br><span class="red">就職レベルのPHPが学べます！</span></p>
          </div>
          <div class="R">
            <div class="glaf">
              <div>驚異の就職率<br><span>93.4%</span></div>
            </div>
          </div>
        </div>
        <p class="caption">※2018年6月現在：93.4％(無料PHPスクール卒業後２ヶ月以内での統計。在職中の方のデータは除外される傾向にあります)<br> ※東京都生活文化局消費生活部取引指導課による、景表法の不当表示(優良誤認表示および有利誤認表示)ではない旨の確認/了承済み(2016年5月)
        </p>
      </div>
    </div>
  </div>
