<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="業界No.1の実績【就職率93.4%】23日間で未経験からエンジニアとして就職・転職できるプログラミングスクール「無料PHPスクール」株式会社ドリーム・シアターがプログラミングだけでなく企業紹介・就職支援までサポートします!" />
  <meta name="keyword" content="ドリームシアター,無料 PHP スクール,プログラミングスクール,未経験 エンジニア 転職支援,プログラミング　未経験" />
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
  <meta name="robots" content="index, follow" />

  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="css/style.css" />
  <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>
  <script type="text/javascript" src="https://use.fontawesome.com/c624bfdc36.js"></script>
  <title>ドリームシアター無料PHPスクール@池袋｜未経験から就職・転職を目指す人のためのプログラミングスクール</title>
</head>

<body id="pagetop">
  <%-include('header')%>
  <%-include('index')%>
  <%-include('footer')%>
  <%-include('parts')%>
</body>
</html>
