<!---------------------------------------------フッター ▲-------------------------->
<!--.footer_fixed-->
<div class="footer_fixed">
	<ul>
	  <li><a href="contact/"><img src="images/contactmail_banner.png" alt=""></a></li>
	  <li><a href="tel:090-3509-3242"><img src="images/contacttel_banner.png" alt=""></a></li>
	</ul>
</div>
<!-- /.footer_fixed-->
<!--.side_link-->
<div class="side_link">
	<ul>
	  <li><a href="contact/"><i class="fa fa-wpforms"></i> 説明会お申込み</a></li>
	  <li><a href="tel:090-3509-3242"><i class="fa fa-phone"></i> 電話お問い合わせ</a></li>
	</ul>
</div>
