* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

html { font-size: 62.5%;}
body{    font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Verdana,  Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  word-wrap:break-word;
/*文字サイズ自動調整OFF*/
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -o-text-size-adjust: 100%;
  text-size-adjust: 100%;
 font-size:14px;
 line-height: 1.3;
}
body > div, section {/*chrome fontが大きくなってしまう対策*/
font-size:14px;
}
table{word-break: break-all;}

/* リンク設定
------------------------------------------------------------*/
a {
	margin: 0;
	padding: 0;
	text-decoration: none;
	outline: 0;
	vertical-align: baseline;
	background: transparent;
}
a:link, a:hover, a:active, a:visited {
  @include transition(opacity, 1s);
	outline: none;
	color: #212121;
}
img{
	max-width: 100%;
	-ms-interpolation-mode: bicubic;
}
div, p, th, td, li, a{
	text-align: justify;
	text-justify: inter-ideograph;
}

.w970{
	max-width:970px;
	margin:0 auto;
}
