footer {
	background: #737373;
	color: #fff;
	padding: 13px 10px 80px;
	font-size: 11px;

	.inner_footer_nav{
	  display: flex;
		justify-content: space-between;
		.footer_wrap {
			flex: 0 0 33.3%;
			margin: 0 0 10px;
			padding-right: 5px;
	  	.footer_nav ul {
	    	display: inline-block;
				vertical-align: top;
	  		line-height: 2.3;
	    	&:first-child{
	      	margin-right: 5px;
	    	}
				li a{
					color: #fff!important;
					&:before{
						font-family: FontAwesome;
						content: "\f0da";
						margin-right: 5px;
					}
				}
	  	}
		}
	}
	.copy {
	    text-align: center;
	    padding: 10px 0;
	    border-top: #ddd solid 1px;
	}
}

.footer_fixed{
	position:fixed;
	bottom:0;
	left:0;
	right:0;
	background:rgba(0,0,0,0.5);
	z-index: 99999;
	ul{
		max-width: 800px;
		margin: 0 auto;
		width: 100%;
		display: flex;
		justify-content: space-around;
		li{
			flex:0 0 50%;
			text-align:center;
			vertical-align:middle;
			padding: 10px;
			color:#fff;
			line-height:1;
			img{
				width: 100%;
				&:hover{
					opacity: 0.8;
				}
			}
			a{
				color:#fff;
			}
		}
	}
}
