@charset "utf-8";









/*    固定ページ共通　 */
.main{
	margin:0px auto 70px auto;
}
.common_table{
	width:100%;
	border-collapse:collapse;
}
.common_table th,
.common_table td{
	vertical-align:middle;
	padding:15px 20px;
	border:solid 1px #ccc;
}
.common_table th{
	background:#f4f4f4;
}
.common_table td ul{
	margin:10px 0;
}


.h2{
	margin:20px 0 20px 0;
}
.h3{
	background:pink;
	padding:10px 20px;
	margin:20px 0 20px 0;
}
.contact_btn{
	margin:50px auto;
	text-align:center;
}

.waku{
	border:solid 10px #ccc;
	padding:40px;
	margin-bottom:50px;
	background:ivory;
}


/*    IT用語辞典 */
.dictionary_table th{
	width:250px;
	
	
}
/*　　卒業生の声　　*/
.voice_list{
	font-size:0;
}
.voice_list li{
	font-size:14px;
	border:solid 1px #ccc;
	width:48%;
	margin:0 1% 20px 1%;
	display:inline-block;
	vertical-align:top;
	padding:25px 25px 50px 25px;
	position:relative;
}
.voice_top{
	display:table;
	width:100%;
		margin-bottom:20px;

}
.voice_thumb{
	display:table-cell;
	width:25%;
	vertical-align:top;
}
.voice_meta{
	display:table-cell;
	width:75%;
	vertical-align:top;
	padding:5px 0 0 10px;
}
.voice_title{
	font-weight:bold;
	font-size:18px;
	line-height:1.4;
	margin-bottom:5px;
}
.voice_prf{
	font-size:12px;
}

.voice_date{
	font-size:12px;
	position:absolute;
	bottom:15px;
	right:20px;
}

/*　　カリキュラム・講師紹介　*/

.curri_list{
	margin:30px 0 30px 30px;
}
.curri_list li{
	list-style-type:decimal;
	padding:10px;
}

.curri_list li:nth-of-type(odd){
	background:#f4f4f4;
}

.curri_table th{
	font-size:30px;
	text-align:center;
	width:35%;
}
.curri_table span{
	display:block;
	font-size:12px;
	font-weight:normal;
}

.teacher_message{
	border:solid 1px #ccc;
	padding:40px 40px 30px 40px;
	margin-bottom:50px;
}
.teacher_message p{
	margin-bottom:10px;
}
	
.tm_3point{
	display:table;
	width:100%;
	border-collapse:separate;
	border-spacing:20px 0;
}
.tm_3point li{
	width:31%;
	margin:0 1% 0 1%;
	border:solid 1px #ccc;
	padding:20px;
	display:table-cell;;
}

.tm_3point_title{
	text-align:center;
	font-weight:bold;
	margin-bottom:15px;
	font-size:20px;
}





@media only screen and (max-width: 969px){
	
	}

@media only screen and (max-width: 759px){


}













































