@charset "UTF-8";
/** style2.css**/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, section,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  /*font: inherit;*/
  vertical-align: baseline;
  list-style: none;
  text-decoration: none;
}

header, nav, article, aside, section, footer {
  display: block;
}

img {
  border: none;
  vertical-align: bottom;
  -ms-interpolation-mode: bicubic;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Verdana,  Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  word-wrap: break-word;
  /*文字サイズ自動調整OFF*/
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -o-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-size: 14px;
  line-height: 1.3;
}

body > div, section {
  /*chrome fontが大きくなってしまう対策*/
  font-size: 14px;
}

table {
  word-break: break-all;
}

/* リンク設定
------------------------------------------------------------*/
a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}

a:link, a:hover, a:active, a:visited {
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -ms-transition: opacity 1s;
  transition: opacity 1s;
  outline: none;
  color: #212121;
}

img {
  max-width: 100%;
  -ms-interpolation-mode: bicubic;
}

div, p, th, td, li, a {
  text-align: justify;
  text-justify: inter-ideograph;
}

.w970 {
  max-width: 970px;
  margin: 0 auto;
}

.side_link {
  position: fixed;
  right: -222px;
  top: 40%;
  width: 265px;
}

.side_link ul li {
  position: relative;
  height: 60px;
}

.side_link ul li a {
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.5s;
  width: 100%;
  font-size: 26px;
  color: #fff;
  background: #00945e;
  padding: 10px;
  line-height: 1;
  -moz-box-shadow: -1px 2px 13px -4px #000000;
  -webkit-box-shadow: -1px 2px 13px -4px #000000;
  -ms-transition: -1px 2px 13px -4px #000000;
  box-shadow: -1px 2px 13px -4px #000000;
}

.side_link ul li a:hover {
  right: 220px;
}

.side_link ul li a i.fa {
  margin-right: 5px;
}

.header_ber {
  background: #1e7bdc;
  color: #fff;
  font-weight: bold;
  padding: 5px 10px;
  margin-bottom: 5px;
}

#head_copy {
  font-size: 1.4rem;
}

@media only screen and (max-width: 767px) {
  #head_copy {
    font-size: 1.3rem;
  }
}

.header_upper {
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 767px) {
  .header_upper {
    display: block;
  }
}

.header_upper .logo {
  white-space: nowrap;
}

@media only screen and (max-width: 767px) {
  .header_upper .logo {
    text-align: center;
  }
}

.header_upper .logo .dt_logo {
  max-width: 156px;
}

.header_upper .logo .phpschool_log {
  max-width: 150px;
}

.header_upper .sub_nav .header_link, .header_upper .sub_nav .header_info {
  display: flex;
  justify-content: flex-end;
}

@media only screen and (max-width: 767px) {
  .header_upper .sub_nav .header_link, .header_upper .sub_nav .header_info {
    justify-content: center;
  }
}

.header_upper .sub_nav .header_link li, .header_upper .sub_nav .header_info li {
  margin-right: 10px;
}

.header_upper .sub_nav .header_link li:before, .header_upper .sub_nav .header_info li:before {
  margin-right: 5px;
  font-family: FontAwesome;
}

@media only screen and (max-width: 767px) {
  .header_upper .sub_nav .header_link {
    margin: 10px 0;
  }
}

.header_upper .sub_nav .header_link li:before {
  content: "\f0da";
}

.header_upper .sub_nav .header_info {
  margin-top: 5px;
}

.header_upper .sub_nav .header_info li {
  font-weight: bold;
  font-size: 2.2rem;
  line-height: 1.0;
  padding-top: 5px;
}

@media only screen and (max-width: 767px) {
  .header_upper .sub_nav .header_info li {
    font-size: 1.6rem;
    padding: 0 5px;
  }
}

.header_upper .sub_nav .header_info li.tel_list:before {
  content: "\f095";
}

.header_upper .sub_nav .header_info li.mail_list:before {
  content: "\f003";
}

.header_nav ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 767px) {
  .header_nav ul {
    margin-top: 10px;
    flex-wrap: wrap;
  }
}

.header_nav ul li {
  flex: 1 1 auto;
  align-items: center;
}

@media only screen and (max-width: 767px) {
  .header_nav ul li {
    flex: 0 0 25%;
  }
}

.header_nav ul li a {
  display: block;
  height: 90%;
  padding: 40px 5px 3px;
  text-align: center;
  border-left: 1px solid #ddd;
  font-size: 12px;
  background-size: auto 25px;
  background-position: center 7px;
  background-repeat: no-repeat;
}

.header_nav ul li.contact {
  background-color: #ECECEC;
  background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(0.25, #F9F9F9), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, #F9F9F9), color-stop(0.75, #F9F9F9), color-stop(0.75, transparent), to(transparent));
  -webkit-background-size: 7px 7px;
}

.header_nav ul li.home:hover {
  background: #888;
}

.header_nav ul li.home:hover a {
  background-image: url("../images/menu_home_w.png");
}

.header_nav ul li.home a {
  background-image: url("../images/menu_home.png");
}

.header_nav ul li.school:hover {
  background: #e56590;
}

.header_nav ul li.school:hover a {
  background-image: url("../images/menu_school_w.png");
}

.header_nav ul li.school a {
  background-image: url("../images/menu_school.png");
}

.header_nav ul li.schedule:hover {
  background: #f05757;
}

.header_nav ul li.schedule:hover a {
  background-image: url("../images/menu_schedule_w.png");
}

.header_nav ul li.schedule a {
  background-image: url("../images/menu_schedule.png");
}

.header_nav ul li.curriculum:hover {
  background: #f6ae3c;
}

.header_nav ul li.curriculum:hover a {
  background-image: url("../images/menu_curriculum_w.png");
}

.header_nav ul li.curriculum a {
  background-image: url("../images/menu_curriculum.png");
}

.header_nav ul li.interview:hover {
  background: #dad40d;
}

.header_nav ul li.interview:hover a {
  background-image: url("../images/menu_interview_w.png");
}

.header_nav ul li.interview a {
  background-image: url("../images/menu_interview.png");
}

.header_nav ul li.voice:hover {
  background: #9ad841;
}

.header_nav ul li.voice:hover a {
  background-image: url("../images/menu_voice_w.png");
}

.header_nav ul li.voice a {
  background-image: url("../images/menu_voice.png");
}

.header_nav ul li.faq:hover {
  background: #27ba62;
}

.header_nav ul li.faq:hover a {
  background-image: url("../images/menu_faq_w.png");
}

.header_nav ul li.faq a {
  background-image: url("../images/menu_faq.png");
}

.header_nav ul li.contact:hover {
  background: #48b8f0;
}

.header_nav ul li.contact:hover a {
  background-image: url("../images/menu_contact_w.png");
}

.header_nav ul li.contact a {
  background-image: url("../images/menu_contact.png");
}

footer {
  background: #737373;
  color: #fff;
  padding: 13px 10px 80px;
  font-size: 11px;
}

footer .inner_footer_nav {
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 767px) {
  footer .inner_footer_nav {
    flex-direction: column;
  }
}

footer .inner_footer_nav .footer_wrap {
  flex: 1 0 33.3%;
  margin: 0 0 10px;
  padding-right: 5px;
}

@media only screen and (max-width: 767px) {
  footer .inner_footer_nav .footer_wrap .logo {
    text-align: center;
  }
}

footer .inner_footer_nav .footer_wrap .footer_nav {
  display: flex;
}

@media only screen and (max-width: 767px) {
  footer .inner_footer_nav .footer_wrap .footer_nav {
    flex-direction: column;
  }
}

footer .inner_footer_nav .footer_wrap .footer_nav ul {
  vertical-align: top;
  line-height: 2.3;
}

footer .inner_footer_nav .footer_wrap .footer_nav ul:first-child {
  margin-right: 5px;
}

@media only screen and (max-width: 767px) {
  footer .inner_footer_nav .footer_wrap .footer_nav ul li {
    padding: 5px 0 5px 10px;
    border-top: 1px solid #fff;
  }
}

footer .inner_footer_nav .footer_wrap .footer_nav ul li a {
  color: #fff !important;
}

footer .inner_footer_nav .footer_wrap .footer_nav ul li a:before {
  font-family: FontAwesome;
  content: "\f0da";
  margin-right: 5px;
}

footer .copy {
  text-align: center;
  padding: 10px 0;
  border-top: #ddd solid 1px;
}

.footer_fixed {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 99999;
}

.footer_fixed ul {
  max-width: 800px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.footer_fixed ul li {
  flex: 0 0 50%;
  text-align: center;
  vertical-align: middle;
  padding: 10px;
  color: #fff;
  line-height: 1;
}

.footer_fixed ul li img {
  width: 100%;
}

.footer_fixed ul li img:hover {
  opacity: 0.8;
}

.footer_fixed ul li a {
  color: #fff;
}

.top_box .w970 {
  padding: 50px 10px;
  text-align: center;
  position: relative;
  z-index: 0;
}

.top_box p {
  text-align: left;
}

.import {
  color: #ff0000;
  font-weight: bold;
}

.can_know_subtitle {
  font-weight: bold;
  display: block;
}

.marker {
  background: linear-gradient(transparent 30%, #fff899 30%);
}

.strong {
  font-weight: bold;
}

.red {
  color: #f05757;
}

.sp {
  display: none;
}

.top_title {
  margin: 0 auto 15px;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  padding: 10px 25px;
}

@media only screen and (max-width: 767px) {
  .top_title {
    padding: 0;
    font-size: 2.6rem;
    text-align: center;
    /** 透過処理の上に配置したい為 **/
    position: relative;
    z-index: 100;
    line-height: 1.3;
  }
  .top_title br.sp {
    display: block !important;
  }
}

.top_img {
  background: url("../images/top_main_bg.png") repeat-x;
}

.top_img .inner_box {
  position: relative;
}

.top_img .inner_box .top_img_text {
  position: absolute;
  top: 45%;
  left: 26.5%;
  width: 48%;
}

@media only screen and (max-width: 767px) {
  .top_img .inner_box .top_img_text {
    font-size: 1.7vw;
  }
}

.top_img .inner_box .top_img_text ul {
  display: flex;
  justify-content: space-between;
}

.top_img .inner_box .top_img_text ul li {
  flex: 1 1 0;
  color: #ffff00;
  font-size: 56px;
  margin-right: 10px;
  font-weight: bold;
  text-shadow: #ff0000 1px 1px 0px, #ff0000 -1px 1px 0px, #ff0000 1px -1px 0px, #ff0000 -1px -1px 0px, 2px 2px 1px rgba(0, 0, 0, 0.67);
  line-height: 0.9;
  text-align: center;
  white-space: nowrap;
}

@media only screen and (max-width: 767px) {
  .top_img .inner_box .top_img_text ul li {
    font-size: 5.6vw;
  }
}

.top_img .inner_box .top_img_text ul li:after {
  font-size: 18px;
}

.top_img .inner_box .top_img_text ul li.name:after {
  content: "名";
}

@media only screen and (max-width: 767px) {
  .top_img .inner_box .top_img_text ul li.name:after {
    font-size: 3vw;
  }
}

.top_img .inner_box .top_img_text ul li.percent:after {
  content: "%";
}

.top_img .inner_box .top_img_text ul li span {
  display: block;
  font-size: 24px;
  color: #fff;
  text-align: left;
  line-height: 1.2;
}

@media only screen and (max-width: 767px) {
  .top_img .inner_box .top_img_text ul li span {
    font-size: 2.4vw;
  }
}

.top_img .inner_box .top_img_text .present_date {
  text-align: right;
  color: #fff;
  font-weight: bold;
  text-shadow: 1px 1px 1px #000;
  margin-top: -0.5%;
}

.top_box_02 {
  background: url("../images/1369e8024cf51a6585381076715a38e6_l.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

@media only screen and (max-width: 767px) {
  .top_box_02 {
    background-position: 10% 50%;
    position: relative;
  }
  .top_box_02 .top_text:before {
    z-index: 0;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.7);
  }
}

.top_box_02 ul {
  margin: 0 auto;
  max-width: 580px;
}

.top_box_02 ul li {
  margin-bottom: 5px;
  position: relative;
  color: #000;
  line-height: 1.3;
}

.top_box_02 ul li:before {
  font-family: FontAwesome;
  content: "\f046";
  margin-right: 10px;
  font-size: 1.2em;
  color: #ea9810;
}

.top_box_02 ul li span {
  font-size: 20px;
  font-weight: bold;
}

.box_02text {
  padding: 50px 20px;
  background: url("../images//bg_dot.gif"), rgba(0, 0, 0, 0.6);
  color: #fff;
}

@media only screen and (max-width: 767px) {
  .box_02text {
    padding: 40px 10px;
  }
}

.box_02text .inner_box {
  padding: 0;
}

.box_02text p {
  text-align: center;
  margin: 0 auto;
  text-shadow: 0px 0px 3px #060606;
  font-size: 17px;
}

@media only screen and (max-width: 767px) {
  .box_02text p {
    font-size: 1.5rem;
    text-align: left;
  }
}

.top_box_03 {
  margin-bottom: 30px;
}

.top_box_03 .box_04_upper .inner_area {
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 767px) {
  .top_box_03 .box_04_upper .inner_area {
    flex-direction: column;
  }
}

.top_box_03 .box_04_upper .L {
  flex: 1 0 70%;
}

.top_box_03 .box_04_upper .R {
  flex: 1 0 30%;
}

.top_box_03 .box_04_upper .R .glaf {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../images/glaf.png") no-repeat;
  height: 220px;
  background-size: contain;
  background-position: center center;
}

.top_box_03 .box_04_upper .R .glaf div {
  text-align: center;
  font-weight: bold;
  font-size: 2.0rem;
}

.top_box_03 .box_04_upper .R .glaf div span {
  font-size: 3.6rem;
  color: #f05757;
}

.top_box_03 .box_04_upper p {
  margin: 10px 0;
}

.top_box_03 .strong {
  font-size: 2.7rem;
}

@media only screen and (max-width: 767px) {
  .top_box_03 .strong {
    font-size: 2.5rem;
    text-align: center;
  }
}

.top_box_03 .strong span {
  font-size: 4.1rem;
}

@media only screen and (max-width: 767px) {
  .top_box_03 .strong span {
    font-size: 3.0rem;
  }
}

.caption {
  font-size: 1.3rem;
}

.odd {
  background: #1e7bdc;
  color: #fff;
}

.odd .top_title_box:before, .odd .top_title_box:after {
  border-top: 1px solid #ddd;
}

.odd .top_title_box span {
  color: #fff;
  text-shadow: -1px -1px 0px #444, 1px -1px 0px #444, 1px 1px 0px #444, -1px 1px 0px #444, 0px 0px 25px rgba(0, 0, 0, 0.3), 0px 0px 20px rgba(0, 0, 0, 0.3);
}

.even .top_title_box:before, .even .top_title_box:after {
  border-top: 1px solid #333;
}

.even .top_title_box span {
  color: #000;
  text-shadow: -1px -1px 0px #fff, 1px -1px 0px #fff, 1px 1px 0px #fff, -1px 1px 0px #fff, 0px 0px 25px rgba(255, 255, 255, 0.7), 0px 0px 20px rgba(255, 255, 255, 0.7);
}

.top_title_box {
  padding: 20px 25px 10px;
  margin: 0 auto 40px;
  position: relative;
}

.top_title_box:before, .top_title_box:after {
  position: absolute;
  content: '';
  height: 15px;
  -webkit-box-sizing: "border-box";
  -moz-box-sizing: "border-box";
  -ms-box-sizing: "border-box";
  box-sizing: "border-box";
}

.top_title_box:before {
  width: calc(100% - 65px);
  top: 0;
  right: 0;
}

.top_title_box:after {
  bottom: 0;
  right: 0;
  width: 100%;
}

.top_title_box span {
  font-size: 1.5rem;
  line-height: 1.2;
  font-weight: bold;
  position: absolute;
  top: -15px;
  left: 0;
  background-image: url("../images/color_circle.png");
  background-repeat: no-repeat;
  background-size: contain;
  padding: 20px 15px;
  -moz-transform: rotate(-20deg);
  -webkit-transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  transform: rotate(-20deg);
  z-index: -1;
}

.top_subtitle {
  font-size: 1.6rem;
  line-height: 1.2;
  margin: 10px 0;
  text-align: center;
}

.top_midashi {
  font-size: 20px;
  font-weight: bold;
  padding: 0 0 10px;
}

.page_link {
  background: #1AAB8A;
  color: #fff !important;
  border: none;
  position: relative;
  padding: 1.0rem;
  cursor: pointer;
  transition: 800ms ease all;
  outline: none;
  margin-top: 50px;
  display: inline-block;
}

.page_link:hover {
  background: #fff;
  color: #1AAB8A !important;
}

.page_link:hover:before, .page_link:hover:after {
  width: 100%;
  transition: 800ms ease all;
}

.page_link:before, .page_link:after {
  content: '';
  position: absolute;
  height: 1px;
  width: 0;
  background: #1AAB8A;
  transition: 400ms ease all;
}

.page_link:before {
  top: 0;
  right: 0;
}

.page_link:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}
