@charset "utf-8";
/* CSS Document */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
 u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, section,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    /*font: inherit;*/
    vertical-align: baseline;
	list-style:none;
	text-decoration:none;
}
header, nav, article, aside, section, footer {
    display:block;
}
img{
	border:none;
	vertical-align:bottom;
	}
.clear {
	clear:both;
}
.clearfix {zoom:1;}
.clearfix:after {
  content: ""; 
  display: block; 
  clear: both;
font-size: 0.1em;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    }
html { font-size: 62.5%;
}
body{    font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Verdana,  Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  word-wrap:break-word;
文字サイズ自動調整OFF
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -o-text-size-adjust: 100%;
  text-size-adjust: 100%;

 font-size:14px;

}
body > div, section {/*chrome fontが大きくなってしまう対策*/
font-size:14px;
}
table{word-break: break-all;}

/* リンク設定
------------------------------------------------------------*/
a {
	margin: 0;
	padding: 0;
	text-decoration: none;
	outline: 0;
	vertical-align: baseline;
	background: transparent;
}
a:link, a:hover, a:active, a:visited {
	-webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
	-o-transition: opacity 1s;
	outline: none;
	color: #212121;
}
img{
	max-width: 100%;
}

/*　　　　　　　　　　　　　　　　　全体レウアウト　　*/

.w970{
	max-width:970px;
	margin:0 auto;
}
.L{
	float: left;
}
.R{
	float: right;
}
.clear{
	overflow: hidden;
}


/*　　hedaer　*/
.header_ber{
	background:#000;
	color: #fff;
	font-weight: bold;
	padding: 5px;
	margin-bottom: 10px;
}
.header_upper .logo{
	float:left;
	width:50%;
}
.header_upper .sub_nav{
	width:50%;
	float:right;
}
.header_upper .sub_nav ul{
	display: table;
	padding: 0 10px;
	border-collapse: separate;
	border-spacing: 10px 0;
}
.header_upper .sub_nav ul li{
	display: table-cell;
}
.header_upper .sub_nav ul.header_link li:before{
	font-family: FontAwesome;
	content: "\f0da";
	margin-right: 5px;
}
.header_upper .sub_nav ul.header_info li{
	font-weight:bold;
	font-size: 2.2rem;
}
.header_upper .sub_nav ul.header_info li:first-child:before{
	font-family: FontAwesome;
	content: "\f095";
	margin-right: 5px;
}
.header_upper .sub_nav ul.header_info li:last-child:before{
	font-family: FontAwesome;
	content: "\f003";
	margin-right: 5px;
}
.header_nav ul{
	width:100%;
	font-size:0;
	text-align:center;
}
.header_nav ul li{
	display:inline-block;
	border-bottom: #fff solid 3px;
	position: relative;
}
.header_nav ul li:before{
	content: "";
    display: inline-block;
    background: #ddd;
    width: 1px;
    height: 22px;
    position: absolute;
    top: 23%;
    left: 0;
}
.header_nav ul li:last-child:after{
	content: "";
    display: inline-block;
    background: #ddd;
    width: 1px;
    height: 22px;
    position: absolute;
    top: 23%;
    right: 0;
}
.header_nav ul li.home:hover{	border-bottom: #ddd solid 3px;}
.header_nav ul li.school:hover{	border-bottom: #f05757 solid 3px;}
.header_nav ul li.schedule:hover{	border-bottom: #ff8042 solid 3px;}
.header_nav ul li.curriculum:hover{	border-bottom: #ffe13c solid 3px;}
.header_nav ul li.interview:hover{	border-bottom: #9ed942 solid 3px;}
.header_nav ul li.voice:hover{	border-bottom: #4fc244 solid 3px;}
.header_nav ul li.faq:hover{	border-bottom: #0eb9cd solid 3px;}
.header_nav ul li.contact:hover{	border-bottom: #2694f0 solid 3px;}
.header_nav ul li.news:hover{	border-bottom: #9f7eff solid 3px;}
.header_nav ul li.blog:hover{	border-bottom: #e87598 solid 3px;}

.header_nav ul li a{
	display:block;
	padding:10px 6px;
	font-size:12px;
}



/*　　footer　*/

footer {
    background: #000;
    color: #fff;
	padding: 25px 30px 0;
}
.footer_wrap {
    width: 33.3%;
    float: left;
    margin: 0 0 20px;
}
.footer_nav li a{
	color: #fff!important;
}
.footer_nav li a:before{
	font-family: FontAwesome;
	content: "\f0da";
	margin-right: 5px;
}
.copy {
    text-align: center;
    padding: 15px 0;
    border-top: #ddd solid 1px;
}

/*   ページトップへ　*/
#page-top {
	position: fixed;
	z-index: 9999;
	bottom: 20px;
	right: 0px;
	font-size: 12px;
}

#page-top a {
	background: #665e53;
	text-decoration: none;
	color: #fff;
	padding: 10px;
	text-align: center;
	display: block;
	-moz-opacity: 0.3;
	opacity: 0.3;
}

#page-top a:hover {
	text-decoration: none;
	background: #999;
	color: #fff;
}


/***************************************************************/

/*　　　　　　　　　　　　　　　　　TOPレウアウト　　*/

.top_box.odd{
	background: #000;
	color: #fff;
}
.top_box.even{
	background: #fff;
	color: #333;
}
.top_box .w970 {
    padding: 80px 30px 80px;
    text-align: center;
	position: relative;
}
.top_box.odd .w970:before,
.contact_wrap .w970:before{
	content: "";
	background: url(../images/arrow_wh.png);
	background-size: contain;
	background-repeat: no-repeat;
	display: block;
	width: 100%;
	height: 45px;
	position: absolute;
	top: 0;
	left: 0;
}
.top_box.even .w970:before{
	content: "";
	background: url(../images/arrow_bk.png);
	background-size: contain;
	background-repeat: no-repeat;
	display: block;
	width: 100%;
	height: 45px;
	position: absolute;
	top: 0;
	left: 0;
}
.top_box.even.top_box_08 .w970:before{
	display: none;
}
.top_box.contact_wrap .w970 {
    padding: 100px 30px 60px;
	position: relative;
}
.top_box p{
	text-align: left;
}
.top_title {
    padding: 30px 0 60px;
}
.page_link{
  background:#1AAB8A;
  color:#fff!important;
  border:none;
  position:relative;
  padding: 1.0rem;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
	    margin-top: 60px;
    display: inline-block;
}
.page_link:hover{
  background:#fff;
  color:#1AAB8A!important;
}
.page_link:before,
.page_link:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:1px;
  width:0;
  background: #1AAB8A;
  transition:400ms ease all;
}
.page_link:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.page_link:hover:before,
.page_link:hover:after{
  width:100%;
  transition:800ms ease all;
}


/*   top_img*/
.top_img{
	background: url(../images/top_img_bg.jpg) no-repeat;
	background-size:cover;
}
.top_img2{
	background: #000;
	padding: 30px 0;
}


/*   box_04*/
.top_box table {
	margin: 0 20px 10px;
}
.top_box table td {
    vertical-align: middle;
    text-align: left;
    padding: 10px;
    font-size: 1.6rem;
}
/*.top_box_04 .L{
    width:35%;
}
.top_box_04 .R{
    width:58%;
	text-align: left;
	font-size: 1.6rem;
}*/
.top_box_04 .text_box{
	margin-bottom: 30px;
}
.top_box_04 p{
	margin-bottom: 30px;
}


/*   box_05 3つのギャップ*/
.top_point_item{
	width: 30%;
	display: inline-block;
	margin: 0 1%;
	vertical-align: top;
	text-align: left;
	padding: 15px;
	background: #fff;
	color: #333;
}
.top_point_item .fukidashi{
	position: relative;
	border-top: #ddd solid 2px;
	padding-top: 15px;
}
.top_point_item .fukidashi:before {
    content: '';
    position: absolute;
    border-bottom: 10px solid #ddd;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    top: -10px;
    left: 45%;
}
.top_point_item .fukidashi h4{
	margin-bottom: 15px;
	font-weight: bold;
}
.top_point_item .fukidashi ul li{
	margin-top: 15px;
}


/*   box_06 重要ポイント*/
.features {
    text-align: left;
    padding: 20px 15px;
    border-bottom: 1px solid #ddd;
	margin-bottom: 20px;
}
.features div {
    padding: 20px 0;
}
.features h3 {
    margin-bottom: 20px;
}
.features .R {
    margin: 0 0 15px 15px;
}
.top_box_06 .page_link{
  background:#0eb9cd;
}
.top_box_06 .page_link:hover{
	background:#fff;
  color:#0eb9cd!important;
}
.top_box_06 .page_link:before,
.top_box_06 .page_link:after{
  background: #0eb9cd;
}

/*   box_08 他社比較*/
.top_box_08 table{
	width: 100%;
}
.top_box_08 table th,
.top_box_08 table td{
	width: 25%;
	text-align: center;
	font-size: 18px;
	font-size: 1.8rem;
}
.comparison {
    padding: 0 80px;
    margin-bottom: 20px;
}
.top_box_08 .page_link{
  background:#e87598;
}
.top_box_08 .page_link:hover{
	background:#fff;
  color:#e87598!important;
}
.top_box_08 .page_link:before,
.top_box_08 .page_link:after{
  background: #e87598;
}


/*   box_09 卒業生の声　*/
.top_box_09 ul{
	display: flex;
	flex-wrap: wrap;
}
.top_box_09 ul li {
    width: 24%;
    margin: 10px 0.5%;
    background: #fff;
    padding: 15px;
    color: #333;
}
.top_box_09 ul li .L p{
	text-align: center;
}
p.voice_extract {
    color: #4fc244;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 16px;
}
.top_box_09 ul li .voiceimg {
    width: 120px;
}
p.voice_name{
	margin-top: 10px;
}
.top_box_09 ul li .massage{
	vertical-align: top;
	padding-left: 15px;
}
.top_box_09 ul li img {
	width: 100%;
    max-width: 120px;
}
.top_box_09 .page_link{
  background:#4fc244;
}
.top_box_09 .page_link:hover{
	background:#000;
  color:#4fc244!important;
}
.top_box_09 .page_link:before,
.top_box_09 .page_link:after{
  background: #4fc244;
}


/*   contact お問い合わせ　*/
.contact_wrap{
	
}
.contact_wrap p {
    margin-bottom: 40px;
}
.top_box_07{
	background: url(../images/top_contact_bg1.jpg) no-repeat;
	background-size:cover;
}
.top_box_11{
	background: url(../images/top_contact_bg1.jpg) no-repeat;
	background-size:cover;
}

/***************************************************************/
/*    固定ページ共通　 */
.main{
	margin:0px auto 70px auto;
}
.common_table{
	width:100%;
	border-collapse:collapse;
}
.common_table th,
.common_table td{
	vertical-align:middle;
	padding:15px 20px;
	border:solid 1px #ccc;
}
.common_table th{
	background:#f4f4f4;
}
.common_table td ul{
	margin:10px 0;
}

.pageheader{
	height:300px;
	background-image: url(http://placehold.jp/250x50.png?text=pageheader);
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
}
.pageheader .w970{
	position: relative;
	height: 300px;
}
.pagetitle{
	color: #fff;
	font-size: 3.2rem;
	font-weight: bolder;
	text-shadow:3px 3px 0px #000000;
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 20px;
}

.h2{
	margin:20px 0 20px 0;
}
h3{
	margin:15px 0;
}
h4{
	margin:15px 0;
}
.contact_btn{
	margin:50px auto;
	text-align:center;
}

.waku {
    /* border: solid 10px #ccc; */
    padding: 40px;
    margin-bottom: 50px;
    background: #fff0d3;
}
.breadcrumb {
    padding: 10px 0;
    font-size: 1.2rem;
	margin-bottom: 20px;
}
.breadcrumb a:before{
	font-family: FontAwesome;
	content: "\f015";
}
/*    IT用語辞典 */

.page_dictionary .pageheader{
	background-image: url(../words/images/words_header.png);
}
.dictionary_table {
	border-top: solid 1px #ccc;
}
.dictionary_table th{
	width:250px;
}
.dictionary_table th, .dictionary_table td {
	vertical-align: top;
    padding: 50px 20px;
	border:none;
    border-bottom: solid 1px #ccc;
}
.dictionary_table th {
    background: none;
	text-align: left;
}
/*    会社概要 */

.page_company .pageheader{
	background-image: url(../company/images/company_header.png);
}

.company_table,
.history_table{
	/*border-collapse: separate;*/
    /*border-spacing: 3px;*/
}
.company_table th,
.company_table td,
.history_table th,
.history_table td{
	padding: 30px 20px;
}
.company_table th,
.history_table th{
	border: none;
	border-bottom: 1px solid #fff;
	width: 175px;
    background: #e8e8e8;
}
.company_table td,
.history_table td{
	border: none;
	border-bottom: 1px solid #e8e8e8;
}
.company_table tr:last-child th,
.history_table tr:last-child th{
	border-bottom: 1px solid #e8e8e8;
}

/*　　スケジュール・場所  */
.hide{
	display:none;
}
ul.tab{
	display: table;
}
ul.tab li{
	/*width: 12.5%;*/
	display: table-cell;
	text-align: center;
	padding: 5px 10px;
	cursor: pointer;
}
ul.tab li:nth-child(odd){
	background: #ccc;
}
ul.tab li:nth-child(even){
	background: #fff;
}
ul.tab li.select{
	background: #555;
	color: #fff;
	font-weight: bold;
}
#schedule-wrap{
	border-top: solid 1px #555;
	border-bottom: solid 1px #ccc;
	padding: 0 0 20px;
	margin-bottom: 30px;
}
.schedule_table{
	margin: 10px 0;
}
.schedule_table th,
.schedule_table td{
	padding: 5px 10px;
}
.schedule_table th{
	text-align: left;
	width: 30%;
}
.schedule_table th span {
    display: inline-block;
    text-align: center;
    background: #555;
    color: #fff;
    /* padding: 5px; */
    font-size: 12px;
    width: 50px;
    margin-right: 10px;
}
.schedule_table tr.scoolday th{
    background: #aaa;
}
.schedule_table tr.scoolday td{
    background: #ddd;
	font-weight: bold;
}
.groupinterview p,
.groupinterview ul{
	margin: 10px 0;
}

.address{
	width:49%;
}
.address ul{
	margin-top: 10px;
}
.gmap{
	width:49%;
}
.gmap iframe {
    max-width: 100%;
}

/*　　カリキュラム・講師紹介　*/

.curri_list{
	margin:30px 0 30px 30px;
}
.curri_list li{
	list-style-type:decimal;
	padding:10px;
}

.curri_list li:nth-of-type(odd){
	background:#f4f4f4;
}

.curri_table th{
	font-size:30px;
	text-align:center;
	width:35%;
}
.curri_table span{
	display:block;
	font-size:12px;
	font-weight:normal;
}

.teacher_message{
	border:solid 1px #ccc;
	padding:40px 40px 30px 40px;
	margin-bottom:50px;
}
.teacher_message p{
	margin-bottom:10px;
}
	
.tm_3point{
	display:table;
	width:100%;
	border-collapse:separate;
	border-spacing:20px 0;
}
.tm_3point li{
	width:31%;
	margin:0 1% 0 1%;
	border:solid 1px #ccc;
	padding:20px;
	display:table-cell;;
}

.tm_3point_title{
	text-align:center;
	font-weight:bold;
	margin-bottom:15px;
	font-size:20px;
}
ul.introduction {
    display: flex;
    flex-wrap: wrap;
	margin: 20px 0;
}
ul.introduction li {
	border: solid 1px #ccc;
	padding: 20px;
	margin-bottom: 20px;
}
ul.introduction ul li{
	border:none;
	padding: 10px;
	margin-bottom: 10px;
}
.koushi_name{
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 10px;
}
.koushi_name span{
	font-size: 16px;
}
.koushi_prf{
	display: table;
	width: 100%;
}
.koushi_prf img{
	display: table-cell;
}
.koushi_date{
	width: 80%;
	display: table-cell;
	vertical-align: top;
	padding-left: 10px;
}
.koushi_date li:nth-child(odd){
	background: #ccc;
	font-weight: bold;
}
.koushi_date p{
	padding: 0 10px;
}

/*　　卒業生の声　　*/
.voice_list{
	font-size:0;
	display: flex;
	flex-wrap: wrap;
}
.voice_list li{
	font-size:14px;
	border:solid 1px #4fc244;
	width:48%;
	margin:0 1% 20px 1%;
	display:inline-block;
	vertical-align:top;
	padding:25px 25px 50px 25px;
	position:relative;
}
.voice_top{
	display:table;
	width:100%;
		margin-bottom:20px;

}
.voice_thumb{
	display:table-cell;
	width:25%;
	vertical-align:top;
}
.voice_meta{
	display:table-cell;
	width:75%;
	vertical-align:top;
	padding:0 0 0 10px;
}
.voice_title{
	font-weight:bold;
	font-size:18px;
	line-height:1.4;
	margin-bottom:5px;
	color: #4fc244;
}
.voice_prf{
	font-size:12px;
}

.voice_date{
	font-size:12px;
	position:absolute;
	bottom:15px;
	right:20px;
}

/*   よくある質問   */
.qa_table th,
.qa_table td{
	border:none;
	background: none;
	padding: 30px 20px;
}
.qa_table tr:nth-child(odd) th,
.qa_table tr:nth-child(odd) td{
	background: #ebfdff;
}
.qa_table th{
	width: 90px;
}

/*********************************************************************/
/*********************************************************************/

@media only screen and (max-width: 969px){
.header_nav ul li {
    width: 20%;
}
/***************************************************************/
/*    固定ページ共通　 */
.main{
	padding: 0 10px;
}
}

/*********************************************************************/
/*********************************************************************/

@media only screen and (max-width: 759px){
/*　　　　　　　　　　　　　　　　　全体レウアウト　　*/

.L{
	float: none;
	width: 100%!important;
	margin: 0 0 10px 0!important;
}
.R{
	float: none;
	width: 100%!important;
	margin: 0 0 10px 0!important;
}


/*　　　　　　　header　*/
.header_upper .logo {
    float: none;
    width: 100%;
    text-align: center;
}
.header_upper .sub_nav {
    float: none;
    width: 100%;
}
.header_upper .sub_nav ul{
	display: block;
	text-align: center;
}
.header_upper .sub_nav ul.header_link {
    margin: 10px 0;
}
.header_upper .sub_nav ul.header_link li{
    padding: 0 10px;
}
.header_upper .sub_nav ul li{
	padding: 0;
	display: inline-block;
	padding: 0 10px;
}


/*　　　　　　　footer　*/
.footer_wrap{
	width: 100%;
	float: none;
}
.footer_wrap:first-child img{
	display: block;
    margin: auto;
}
.footer_wrap:nth-child(3) {
    text-align: center;
}
.footer_nav li {
    padding: 10px;
	border-top: #ddd solid 1px;
	}
/***************************************************************/
/*   Top レイアウト  */

.top_box .w970 {
    padding: 50px 10px 80px;
	
}
.top_title {
    padding: 30px 0 30px;
}
/*.top_box_04 .L {
    padding: 0 20%;
}*/
.top_box_04 .top_title {
    padding: 30px 0 0;
}
.top_box_04 table {
	margin: 0 0 10px;
}
.top_box_04 table td {
    display: block;
    padding: 10px 0;
}
.top_box_04 table td.glaf {
    text-align: center;
	padding: 30px 60px;
}
.top_box_09 ul li {
    width: 90%;
    margin: 10px 5%;
}
.top_box_09 ul li .voiceimg {
	display: block;
	width: 100%;
}
p.voice_name{
	text-align: center;
	margin-bottom: 10px;
}
.top_box_09 ul li .massage {
	display: block;
    width: 100%;
	padding-left: 0;
}
.top_box.contact_wrap .w970 {
    padding: 50px 30px 40px;
}
.contact_wrap p {
    margin-bottom: 25px;
}
.features div {
    padding: 0;
}
.comparison {
    padding: 0;
}
.top_address{
	margin-bottom: 20px;
}
/***************************************************************/
/*    固定ページ共通　 */
.common_table th,
.common_table td{
	width: 100%;
	display: block;
}

.contact_btn{
	margin:50px auto;
	text-align:center;
}
.waku {
    padding: 30px;
}
.pageheader{
	height:200px;
	background-position: left center;
}
.pageheader .w970{
	height:200px;
}
/*    スケジュール・場所*/
ul.tab li {
    width: 25%;
    display: inline-block;
    text-align: center;
    padding: 5px;
    font-size: 11px;
}
/*    会社概要 */
.company_table th,
.company_table td,
.history_table th,
.history_table td{
	padding: 15px 20px;
}
.company_table td ul{
	margin-top:0;
}
/*    IT用語辞典 */
.dictionary_table th {
    border-bottom: none;
    padding-bottom: 0;
}
.dictionary_table td {
    padding-top: 25px;
}

/*   卒業生の声   */
.voice_list li {
    width: 98%;
    margin: 0 1% 20px 1%;
}

/*   よくある質問   */
.qa_table th{
	padding-bottom: 0;
}

}

























