
.top_box{
  .w970{
    padding: 50px 10px;
    text-align: center;
    position: relative;
    z-index: 0;
  }
  p{
    text-align: left;
  }
}

.import{
  color: #ff0000;
  font-weight: bold;
}

.can_know_subtitle{
  font-weight: bold;
  display: block;
}

.marker {
  background: linear-gradient(transparent 30%, #fff899 30%);
}

.strong{
  font-weight: bold;
}

.red{
  color: #f05757;
}

.sp{
  display: none;
}

.top_title{
  margin: 0 auto 15px;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  padding: 10px 25px;
  @include mq-sp(){
    padding: 0;
    font-size: 2.6rem;
    text-align: center;
    /** 透過処理の上に配置したい為 **/
    position: relative;
    z-index: 100;
    line-height: 1.3;
    br.sp{
      display: block! important;
    }
  };
}

.top_img{
  background: url("#{$image_path}top_main_bg.png") repeat-x;
  .inner_box{
    position: relative;
    .top_img_text{
      position: absolute;
      top: 45%;
      left: 26.5%;
      width: 48%;
      @include mq-sp(){
        font-size: 1.7vw;
      };
      ul{
        display: flex;
        justify-content: space-between;
        li{
          flex:1 1 0;
          color: #ffff00;
          font-size: 56px;
          margin-right: 10px;
          font-weight: bold;
          text-shadow: #ff0000 1px 1px 0px, #ff0000 -1px 1px 0px, #ff0000 1px -1px 0px, #ff0000 -1px -1px 0px, 2px 2px 1px rgba(0,0,0,0.67);
          line-height: 0.9;
          text-align: center;
        	white-space: nowrap;
          @include mq-sp(){
            font-size: 5.6vw;
          };
          &:after{
            font-size: 18px;
          }
          &.name{
            &:after{
          	  content: "名";
              @include mq-sp(){
                font-size: 3vw;
              };
            }
          }
          &.percent{
            &:after{
              content: "%";
            }
          }
          span{
            display: block;
          	font-size: 24px;
            color: #fff;
            text-align: left;
            line-height: 1.2;
            @include mq-sp(){
              font-size: 2.4vw;
            };
          }
        }
      }
      .present_date{
        text-align: right;
        color: #fff;
        font-weight: bold;
        text-shadow: 1px 1px 1px #000;
        margin-top: -0.5%;
      }
    }
  }
}

.top_box_02{
  background: url("#{$image_path}1369e8024cf51a6585381076715a38e6_l.jpg") no-repeat;
	background-size: cover;
	background-position: center;
  @include mq-sp(){
    background-position:10% 50%;
    position: relative;
    .top_text{
      &:before{
        z-index: 0;
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color:rgba(255,255,255,0.7);
      }
    }
  };
  ul{
    margin: 0 auto;
    max-width: 580px;
    li{
      margin-bottom: 5px;
      position: relative;
      color:#000;
      line-height: 1.3;
      &:before{
        font-family: FontAwesome;
        content: "\f046";
        margin-right: 10px;
        font-size: 1.2em;
        color: #ea9810;
      }
      span{
        font-size: 20px;
        font-weight: bold;
      }
    }
  }
}

.box_02text{
  padding: 50px 20px;
  @include mq-sp(){
    padding: 40px 10px;
  };
  background: url("#{$image_path}/bg_dot.gif"), rgba(0,0,0,0.6);
  color: #fff;
  .inner_box{
    padding: 0;
  }
  p{
    text-align: center;
    margin: 0 auto;
    text-shadow: 0px 0px 3px #060606;
    font-size: 17px;
    @include mq-sp(){
      font-size: 1.5rem;
      text-align: left;
    };
  }
}

.top_box_03{
  margin-bottom: 30px;
  .box_04_upper{
    .inner_area{
      display: flex;
      justify-content: space-between;
      @include mq-sp(){
        flex-direction: column;
      };
    }
    .L{
      flex: 1 0 70%;
    }
    .R{
      flex: 1 0 30%;
      .glaf{
        display: flex;
        justify-content: center;
        align-items: center;
        background: url("#{$image_path}glaf.png") no-repeat;
        height: 220px;
        background-size: contain;
        background-position: center center;
        div{
          text-align: center;
          font-weight: bold;
          font-size: 2.0rem;
          span{
            font-size: 3.6rem;
            color: #f05757;
          }
        }
      }
    }
    p{
      margin: 10px 0;
    }
  }
  .strong{
    font-size: 2.7rem;
    @include mq-sp(){
      font-size: 2.5rem;
      text-align: center;
    };

    span{
      font-size: 4.1rem;
      @include mq-sp(){
        font-size: 3.0rem;
      };
    }
  }
}
.caption{
  font-size: 1.3rem;
}

.odd{
  background: #1e7bdc;
	color: #fff;
  .top_title_box{
    &:before, &:after{
      border-top: 1px solid #ddd;
    }
    span{
      color: #fff;
      text-shadow: -1px -1px 0px #444, 1px -1px 0px #444, 1px 1px 0px #444, -1px 1px 0px #444, 0px 0px 25px rgba(0, 0, 0, 0.3), 0px 0px 20px rgba(0, 0, 0, 0.3);
    }
  }

}

.even{
  .top_title_box{
    &:before, &:after{
      border-top: 1px solid #333;
    }
    span{
      color: #000;
      text-shadow: -1px -1px 0px #fff, 1px -1px 0px #fff, 1px 1px 0px #fff, -1px 1px 0px #fff, 0px 0px 25px rgba(255, 255, 255, 0.7), 0px 0px 20px rgba(255, 255, 255, 0.7);
    }
  }
}

.top_title_box{
  padding: 20px 25px 10px;
  margin: 0 auto 40px;
  position: relative;
  &:before, &:after{
    position: absolute;
    content: '';
    height: 15px;
    @include box-sizing();
  }
  &:before{
    width: calc(100% - 65px);
    top: 0;
    right: 0;
  }
  &:after{
    bottom: 0;
    right: 0;
    width: 100%;
  }
  span{
    font-size: 1.5rem;
    line-height: 1.2;
    font-weight: bold;
    position: absolute;
    top: -15px;
    left: 0;
    background-image: url("#{$image_path}color_circle.png");
    background-repeat: no-repeat;
    background-size: contain;
    padding: 20px 15px;
    @include rotate(-20deg);
    z-index: -1;
  }
}

.top_subtitle{
  font-size: 1.6rem;
  line-height: 1.2;
  margin: 10px 0;
  text-align: center;
}

.top_midashi{
  font-size: 20px;
  font-weight: bold;
  padding: 0 0 10px;
}

.page_link{
  background:#1AAB8A;
  color:#fff!important;
  border:none;
  position:relative;
  padding: 1.0rem;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
	margin-top: 50px;
  display: inline-block;
  &:hover{
    background:#fff;
    color:#1AAB8A!important;
    &:before, &:after{
      width:100%;
      transition:800ms ease all;
    }
  }
  &:before, &:after{
    content:'';
    position:absolute;
    height:1px;
    width:0;
    background: #1AAB8A;
    transition:400ms ease all;
  }
  &:before{
    top:0;
    right:0;
  }
  &:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
}
