* {
    box-sizing: border-box;
}

*:before,
*:after {
	box-sizing: border-box;
}
body{
	padding: 100px 0;
}
.main_visual{
	width: 30%;
	height: 2000px;
	min-width: 1000px;
	background-size:cover;
	background-image: url(background_sample.jpg);
	background-attachment: fixed;
}

.left_top_position{
	background-position: left top;
}

.right_bottom_position{
	background-position: right bottom;
}

.center_center_position{
	background-position: center center;
}
