/*-----------------------------------------------
「カリキュラム」ページ専用
-----------------------------------------------*/
#lowerContentLeft p.p_img01 {
	background: url('../image/curriculum/curriculum_set.jpg') left top no-repeat;
	width: 641px;
	height: 370px;
	display: block;
	text-indent: -9999em;
	margin: 0;
	padding: 0;
	margin: 0 0 11px 11px;
}

#lowerContentLeft .box_img {
	width: 645px;
	height: 240px;
	margin: 0 0 25px 8px;
}

#lowerContentLeft .box_img img {
	margin: 0;
	padding: 0;
}

#lowerContentLeft .box_img img.left {
	width: 321px;
	margin-right: 1px;
	float: left;
}

#lowerContentLeft .box_img img.right {
	width: 319px;
	float: right;
}

/*-----------------------------------------------
「カリキュラム」ページ専用
=================================================
一単位（90分）あたりの授業の流れ
-----------------------------------------------*/
#lowerContentLeft .flow_box {
	background: url('../image/curriculum/curriculum_set.jpg') left -375px no-repeat;
	width: 652px;
	margin: 0 0 14px 10px;
}

#lowerContentLeft .flow_box #flow01,
#lowerContentLeft .flow_box #flow02,
#lowerContentLeft .flow_box #flow03,
#lowerContentLeft .flow_box #flow04 {
	float: left;
	display: block;
	height: 146px;
	margin-bottom: 14px;
}

#content #lowerContentLeft .flow_box #flow01,
#content #lowerContentLeft .flow_box #flow01 h4,
#content #lowerContentLeft .flow_box #flow01 p {
	width: 145px;
	text-indent: -9999em;
}

#lowerContentLeft .flow_box #flow02,
#lowerContentLeft .flow_box #flow02 h4,
#lowerContentLeft .flow_box #flow02 p {
	width: 143px;
	text-indent: -9999em;
}

#lowerContentLeft .flow_box #flow03,
#lowerContentLeft .flow_box #flow03 h4,
#lowerContentLeft .flow_box #flow03 p {
	width: 144px;
	text-indent: -9999em;
}

#lowerContentLeft .flow_box #flow04,
#lowerContentLeft .flow_box #flow04 h4,
#lowerContentLeft .flow_box #flow04 p {
	width: 220px;
	text-indent: -9999em;
}

#lowerContentLeft .flow_box p.cb {
	margin: 0;
	margin-bottom: 25px;
	text-indent: 0;
}

#lowerContentLeft #flow2 {
	width: 639px;
	background: url('../image/curriculum/flow_bg.gif') left top no-repeat;
	margin: 0 0 0 10px;
	padding-top: 10px;
}

#lowerContentLeft #flow2 table {
	width: 615px;
	margin-left: 12px;
}

#lowerContentLeft #flow2 table tr:nth-child(odd) {/*奇数にだけ別の背景色*/
	background: #f0f0e1;
}

#lowerContentLeft #flow2 table tr td {
	font-size: 15px;
	font-weight: bold;	
	padding: 5px 0;
}

#lowerContentLeft #flow2 table tr td.nam {
	width: 25px;/*35px*/
	color: #FF2626;
	padding-left: 10px;
	vertical-align: top;
}

#lowerContentLeft #flow2 table tr td p {
	width: 580px;
	margin: 0;
	line-height: 1.3em;
	text-indent: 0;
}

#lowerContentLeft #flow2 table tr td p.f_small {
	font-size: 13px;
	margin-top: 8px;
}

#lowerContentLeft #flow2_end {
	background: url('../image/curriculum/flow_bg.gif') left bottom no-repeat;
	width: 639px;
	margin: 0 0 38px 10px;
	padding-top: 10px;
	padding-bottom: 52px;
}

#lowerContentLeft #flow2_end p {
	width: 544px;/*590px*/
	font-size: 13px;
	font-weight: bold;
	margin: 0 auto;
	background: #F0F0E1;
	padding: 13px 23px;
	text-indent: 0;
}

/*-----------------------------------------------
「カリキュラム」ページ専用
=================================================
講師紹介
-----------------------------------------------*/
#lowerContentLeft .prof p {
	margin-bottom: 20px;
}

#lowerContentLeft .prof p.p_line {
	font-size: 15px;
	font-weight: bold;
	color: #0085B2;
	line-height: 2.2em;
}

#lowerContentLeft .prof p.p_line span {
	background: url('../image/curriculum/u_line.gif') left bottom repeat-x;
	padding-bottom: 8px;
}

/*-----------------------------------------------
「カリキュラム」ページ専用
=================================================
講師紹介　プロフィール
-----------------------------------------------*/
#lowerContentLeft .prof .prof_box {
	width: 640px;
	margin: 0 7px 0 13px;
	clear: both;
}

#lowerContentLeft .prof .prof_box img {
	float: left;
	width: 195px;/*212px*/
	height: 229px;
	margin-right: 17px;
}

#lowerContentLeft .prof .prof_box div {
	float: right;
	width: 428px;
	margin-bottom: 30px;
}

#lowerContentLeft .prof .prof_box div.end {
	margin-bottom: 0;
}

#lowerContentLeft .prof .prof_box div dl {
	width: 390px;/*428px*/
	background: url('../image/curriculum/profile_bg.gif') left top no-repeat;
	padding: 30px 19px 0;
}

#lowerContentLeft .prof .prof_box div dl dt {
	background: #BBBB00;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 10px;
	padding: 6px 0 6px 15px;
}

#lowerContentLeft .prof .prof_box div dl dd {
	padding: 0 0 14px 17px;
}

#lowerContentLeft .prof .prof_box div .box {
	background: url('../image/curriculum/profile_bg.gif') left bottom no-repeat;
	margin-bottom: 0;
}

#lowerContentLeft .prof .prof_box div .box p {
	background: url('../image/curriculum/border.gif') 6px top no-repeat;
	margin: 0;
	padding: 0;
	margin: 0 12px 18px 12px;
	padding-top: 12px;
	width: 404px;
	text-indent: 0;
}