@charset "utf-8";
/* CSS Document */
	/*　メインビジュアル部分　*/

#mainvisual {
	background-image:url(../image/top/mainvisual.jpg);
	background-position: center center;
	clear:both;
	}

#mainvisual_img {
	text-align:center;
	}

/*　コンテンツ部分　*/
#content_wrap {
	/*background: url('../image/general/content_background.gif') left top repeat;*/
	background: #fff;
}

.inner {
	width: 960px;
	margin: 0 auto;
	/*background: url('../image/general/content_background_repeat.jpg') left top repeat-y;*/
	/*padding:0 0 0 9px;*/
	padding: 0;
}
	/*　ギャップ解消部分　*/
#three_point {
	width: 876px;
	margin: 10px 0 10px 45px;
	min-height: 520px;
}

.point_block {
	width:292px;
	background-image:url(../image/top/threePoints_arrowbox_middle.jpg);
	background-repeat:repeat-y;
	
	}

	/*　ギャップ解消制御ID　*/

#first_point {
	width:292px;
	float:left;
	}

#second_point {
	width:292px;
	float:left;
	}
#third_point {
	width:292px;
	float:left;
	}


	/*　ギャップ解消部分下の画像ブロック　*/

#point_blockNO1 {
	background-image:url(../image/top/threePoints_background_NO1.jpg);
	width:276px;
	min-height:221px;
	margin:3px 0 0 8px;
	}
#point_blockNO2 {
	background-image:url(../image/top/threePoints_background_NO2.jpg);
	width:276px;
	min-height:221px;
	margin:3px 0 0 8px;
	}
#point_blockNO3 {
	background-image:url(../image/top/threePoints_background_NO3.jpg);
	width:276px;
	min-height:221px;
	margin:3px 0 0 8px;
	}
	/*　ギャップ解消部分下の文章ブロック　*/

.point_block h3 {
	background-image:url(../image/top/threePoints_head.jpg);
	background-repeat:no-repeat;
	width:241px;
	height:32px;
	margin:0 0 0 18px;
	padding:9px 0 0 15px;
	font-size:14px;
	}

.point_block p {
	margin:10px 0 0 18px;
	}
.point_block ul {
	margin:0 0 0 18px;
	width:220px;
	padding:0 0 0 18px;
	}
.point_block li {
	list-style:disc outside;
	margin:10px 0 0 0;
	}
	/*　3つの特徴部分下の画像・文章　*/
.three_features_image {
	margin:0 0 0 33px;
	padding-left: 9px;
}

#three_features {
	width: 882px;
	margin: 0 0 0 42px;
	border:#CCC solid 1px;
	border-top: none;
	background: url('../image/top/three_features_backGround_dot.gif') left top repeat;
}

#feature_free {
	background-image:url(../image/top/threeFeature_background_NO1.jpg);
	background-repeat:no-repeat;
	border:#FFF solid 10px;
	width:820px;
	margin:0px auto;
}

#feature_skill {
	background-image:url(../image/top/threeFeature_background_NO2.jpg);
	background-repeat:no-repeat;
	border:#FFF solid 10px;
	width:820px;
	margin:10px auto;
}

#feature_employ {
	background-image:url(../image/top/threeFeature_background_NO3.jpg);
	background-repeat:no-repeat;
	border:#FFF solid 10px;
	width:820px;
	margin:10px auto;
}

#three_features h3 {
	padding:0 0 0 80px;
}

#three_features p {
	width:530px;
	float:left;
	margin:10px 20px 18px 80px;
}

#three_features img.features_icon {
	margin:10px 0 20px 0;
}

	/*　他社との違いと卒業生の声の共通部分　*/

.innerGlow {
	margin: 0 0 0 42px;
	background-image:url(../image/top/compare_backgraound_middle.jpg);
	background-repeat:repeat-y;
}

.innerGlow img{
	display:block;
	margin:0 0 0 10px;
	padding:20px 0 0 0;
	}
.innerGlow p{
	color:#F00;
	width:830px;
	margin:0 0 0 27px;
	}
img.compareBottom {
	margin: 0 0 0 42px;
}
	/*　他社との違い部分　*/
.innerGlow img.differencePints{
	margin:0 0 0 10px;
	}

	/*　卒業生の声部分　*/
.studentBox_left {
	background-image:url(../image/top/graduated_window.jpg);
	background-repeat:no-repeat;
	width:400px;
	height:180px;
	float:left;
	padding:10px 0 0 10px;
	margin:20px 0 0 20px;
	}

.studentBox_right {
	background-image:url(../image/top/graduated_window.jpg);
	background-repeat:no-repeat;
	width:400px;
	height:180px;
	float:left;
	padding:10px 0 0 10px;
	margin:20px 0 0 20px;
	}

.SBleft {
	margin:0 20px 0 0;
	width:120px;
	float:left;
	
	}
.SBright {
	padding:0 0 0 0;
	float:left;
	width:260px;
	}

.SBright h3 {
	margin:0 0 5px 0;
	}

.SBright h3 a {
	color:#688C00;
	}

.SBright h3 a:hover {
	color:#688C00;
	}
	
.SBright dt {
	width:250px;
	font-weight:bold;
	font-size:14px;
	margin:0 0 5px 0;
	}
.SBright dd {
	width:250px;
	font-size:14px;
	}


/*　企業一覧　*/

img.companytop {
	margin: 0 0 0 42px;
	}
#companyTable {
	width:850px;
	margin:0 0 0 10px;
	}

#companyTable img {
	margin:8px auto;
	}

#companyTable tr {
	margin-top:10px;
	}

/* お問い合わせ */
.contact_box {
    background: #ddd;
    padding: 25px 0 15px;
}

.contact_box{
    background: #ddd;
    display: inline-block;
    position: relative;
    width: 100%;
}
.contact_box:before {
    content: "";
    display: inline-block;
    /*border: 5px solid transparent;
    border-top-color: #fff;*/
    position: absolute;
    left: 35%;
    top: 0;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 25px 200px 0 200px;
	border-color: #ffffff transparent transparent transparent;
}