@charset "utf-8";

/*-----------------------------------------------
ページ共通
-----------------------------------------------*/
#lowerContentLeft {
	width:660px;
	float:left;
	margin:10px 0 0 29px;
	}
#lowerContentLeft h4 {
	margin:0;
	}
	
#lowerContentLeft p {
	width: 610px;
	margin: 0 25px 0 25px;
	line-height:23px;
}

#lowerContentLeft p.indent_none {
	text-indent: 0;
}
	
#lowerContentRight {
	width:222px;
	float:left;
	margin:10px 0 0 20px;
	}
	
/*パンくずリスト*/
ol#bread {
	height: 20px;
    padding-bottom: 12px;
}

ol#bread li {
	float: left;
	font-size: 14px;
	padding-left: 10px;
}

ol#bread li a {
	text-decoration: underline;
}

ol#bread li a:hover {
	text-decoration: none;
}
	
.emphasizeRed {
	color:#F00;
	font-weight:bold;
	}

/*　サイド部分　*/
#lowerContentRight li.phoneLi,.mailLi {
	font-size:20px;
	margin:0 0 0 10px;
	font-family:"メイリオ","ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	}
#lowerContentRight li.mailLi a {
	color:#000;
	}
#lowerContentRight li.mailLi a:hover {
	text-decoration:underline;
	}


/*firefoxのみ*/	
#lowerContentRight li.phoneLi,.mailLi,  x:-moz-any-link, x:default {
	font-weight: normal;
}

.phoneLi:before {
	content:"TEL: ";
	}
.mailLi:before {
	content:"MAIL: ";
}

#sideMenu {
	line-height:0px;
	}
.sideBanners li{
	margin:10px 0;
	}
.sideBanners li.free_seminar a:hover{
  opacity:0.6;
}

/*メイン部分共通*/
#lowerContentLeft h3 {
	vertical-align: bottom;
	background: url('../image/school/h3Bar.jpg') left top no-repeat;
	width: 630px;
	height: 40px;
	padding:16px 0 0 20px;
	margin: 5px 0 10px 10px;
	
	font-size: 16px;/*20130318追記*/
}




/*アコーディオン*/
.scheduleBox p.accordion_head {
	cursor: pointer;
}

.scheduleBox p.accordion_head a {
	text-decoration: underline;
	color: #0033D8;
	font-weight: bold;
}

.scheduleBox p.accordion_head a:hover {
	text-decoration: none;
	color: #0033D8;
	font-weight: bold;
}
.
