/*-----------------------------------------------
「無料セミナー」ページ専用
-----------------------------------------------*/
#lowerContentLeft div.contents_box{
    width:600px;
    background-color:#f0f0e1;
    font-size:12pt;
    margin:-13px 10px 20px 10px;
    padding:25px;
}

#lowerContentLeft div.contents_box ul{
    margin:10px 0px;
}

#lowerContentLeft div.contents_box ul li{
    line-height:2.0em;	
}

#lowerContentLeft div.contents_box p.subtitle{
    font-weight:bold;
}

#lowerContentLeft  p.contact{
     margin-top:30px;
    font-size:20pt;
    line-height:1.5em;
}

/*-----------------------------------------------
講師紹介
-----------------------------------------------*/
#lowerContentLeft .prof p {
    margin-bottom: 20px;
}

#lowerContentLeft .prof p.p_line {
    font-size: 15px;
    font-weight: bold;
    color: #0085B2;
    line-height: 2.2em;
}

#lowerContentLeft .prof p.p_line span {
    background: url('../image/curriculum/u_line.gif') left bottom repeat-x;
    padding-bottom: 8px;
}

/*-----------------------------------------------
講師紹介　プロフィール
-----------------------------------------------*/
#lowerContentLeft .prof .prof_box {
    width: 640px;
    margin: 0 7px 0 13px;
    clear: both;
}

#lowerContentLeft .prof .prof_box img {
    float: left;
    width: 195px;/*212px*/
    height: 229px;
    margin-right: 17px;
}

#lowerContentLeft .prof .prof_box div {
    float: right;
    width: 428px;
    margin-bottom: 30px;
}

#lowerContentLeft .prof .prof_box div.end {
    margin-bottom: 0;
}

#lowerContentLeft .prof .prof_box div dl {
    width: 390px;/*428px*/
    background: url('../image/curriculum/profile_bg.gif') left top no-repeat;
    padding: 30px 19px 0;
}

#lowerContentLeft .prof .prof_box div dl dt {
    background: #BBBB00;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 6px 0 6px 15px;
}

#lowerContentLeft .prof .prof_box div dl dd {
    padding: 0 0 14px 17px;
}

#lowerContentLeft .prof .prof_box div .box {
    background: url('../image/curriculum/profile_bg.gif') left bottom no-repeat;
    margin-bottom: 0;
}

#lowerContentLeft .prof .prof_box div .box p {
    background: url('../image/curriculum/border.gif') 6px top no-repeat;
    margin: 0;
    padding: 0;
    margin: 0 12px 18px 12px;
    padding-top: 12px;
    width: 404px;
    text-indent: 0;
}

