@charset "utf-8";
/* ------------------------------------------- CSS Information 
 File Name:      style.css 
----------------------------------------------------------- */  
  
/* ----------------------- Browser Default Initialization */  
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6,  
pre, form, fieldset, input, textarea, p, blockquote, th, td {  
    margin: 0;
	padding: 0;  
}  
address, caption, cite, code, dfn, em, strong, th, var  {  
    font-style: normal;  
}
table {  
    border-collapse: collapse;  border-spacing: 0;  
}  
caption, th {  
    text-align: left;  
}  
q:before ,q:after   {  
    content: '';  
}  
object, embed   {  
    vertical-align: top;  
}  
hr, legend  {  
    display: none;  
}  
h1 {
	font-size:12px;
	}

h2, h3, h5, h6  {  
    font-size: 100%;  
}  
img, abbr, acronym, fieldset {  
    border: 0;  
}  
li  {  
    list-style-type: none;  
}  
  
/* ----------------------- Basic Style */  
/* ------------ Font Style */  
body {  
	font-family:"MS UI Gothic","MS UI ゴシック","ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;  
    background: #FFF;  
    color: #333;  
    /*font-size: 100%;*/ 
    font-size: 15px; 
    line-height: 150%;   
}  
* + html body {
    font-family: "メイリオ","Meiryo";
}  
  
/* ------------ A Style */  
a:link  {  
    text-decoration: none;  
    color: #00F;  
}  
  
a:visited   {  
    text-decoration: none;  
    color: #00F;  
}  
  
a:hover {  
    text-decoration: underline;  
    color: #00F;  
} 

a:active    {  
    text-decoration: none;  
    color: #00F;  
}  
/*　トップページ　*/
	/*　上部　*/

#head_wrap {
	background-image:url(../image/general/head_bar.gif);
	background-repeat:repeat-x;
	width:100%;
	}
#head_top {
	width:950px;
	margin:0 auto;
	}

h1{
	padding:5px 0 0 0;
	float:left;
	}
img.company{
	padding:7px 0 0 230px;
	}

#head_bottom {
	width:950px;
	margin:0 auto;
	}
#head_bottom img{
	float:left;
	margin:10px 0 0 24px;
	}

#top_feelfreetocontact {
	background-image:url(../image/general/top_feelfreetocontact.gif);
	height:77px;
	width:370px;
	margin:8px 0 6px 90px;
	float:left;
	background-repeat:no-repeat;
	}

#top_feelfreetocontact ul{
	font-size:19px;
	font-weight:bold;
	margin:30px 0 0 0;
	}

#top_feelfreetocontact li{
	margin:2px 0;
	}
#top_feelfreetocontact li:before{
	content:"TEL: ";
	}

	/*　グローバルメニュー　*/
#global_menu {
	background-image:url(../image/general/nav00.jpg);
	background-repeat:repeat-x;
	height:72px;
	clear:both;
	}
#global_menu ul {
	width:950px;
	margin:0 auto;
	clear:both;
	}
#global_menu li {
	float:left;
	height:72px;
	}

	/*　メインビジュアル部分　*/

#mainvisual {
	background-image:url(../image/top/mainvisual.jpg);
	background-position: center center;
	clear:both;
	}

#mainvisual_img {
	text-align:center;
	}

/*　コンテンツ部分　*/
#content_wrap {
	background: url('../image/general/content_background.gif') left top repeat;
}

#content {
	width: 968px;
	margin: 0 auto;
	background: url('../image/general/content_background_repeat.jpg') left top repeat-y;
	/*padding:0 0 0 9px;*/
	padding: 0;
}
	/*　ギャップ解消部分　*/
#three_point {
	width: 876px;
	margin: 10px 0 10px 45px;
	min-height: 520px;
}

.point_block {
	width:292px;
	background-image:url(../image/top/threePoints_arrowbox_middle.jpg);
	background-repeat:repeat-y;
	
	}

	/*　ギャップ解消制御ID　*/

#first_point {
	width:292px;
	float:left;
	}

#second_point {
	width:292px;
	float:left;
	}
#third_point {
	width:292px;
	float:left;
	}


	/*　ギャップ解消部分下の画像ブロック　*/

#point_blockNO1 {
	background-image:url(../image/top/threePoints_background_NO1.jpg);
	width:276px;
	min-height:221px;
	margin:3px 0 0 8px;
	}
#point_blockNO2 {
	background-image:url(../image/top/threePoints_background_NO2.jpg);
	width:276px;
	min-height:221px;
	margin:3px 0 0 8px;
	}
#point_blockNO3 {
	background-image:url(../image/top/threePoints_background_NO3.jpg);
	width:276px;
	min-height:221px;
	margin:3px 0 0 8px;
	}
	/*　ギャップ解消部分下の文章ブロック　*/

.point_block h3 {
	background-image:url(../image/top/threePoints_head.jpg);
	background-repeat:no-repeat;
	width:241px;
	height:32px;
	margin:0 0 0 18px;
	padding:9px 0 0 15px;
	font-size:14px;
	}

.point_block p {
	margin:10px 0 0 18px;
	}
.point_block ul {
	margin:0 0 0 18px;
	width:220px;
	padding:0 0 0 18px;
	}
.point_block li {
	list-style:disc outside;
	margin:10px 0 0 0;
	}
	/*　3つの特徴部分下の画像・文章　*/
.three_features_image {
	margin:0 0 0 33px;
	padding-left: 9px;
}

#three_features {
	width: 882px;
	margin: 0 0 0 42px;
	border:#CCC solid 1px;
	border-top: none;
	background: url('../image/top/three_features_backGround_dot.gif') left top repeat;
}

#feature_free {
	background-image:url(../image/top/threeFeature_background_NO1.jpg);
	background-repeat:no-repeat;
	border:#FFF solid 10px;
	width:820px;
	margin:0px auto;
}

#feature_skill {
	background-image:url(../image/top/threeFeature_background_NO2.jpg);
	background-repeat:no-repeat;
	border:#FFF solid 10px;
	width:820px;
	margin:10px auto;
}

#feature_employ {
	background-image:url(../image/top/threeFeature_background_NO3.jpg);
	background-repeat:no-repeat;
	border:#FFF solid 10px;
	width:820px;
	margin:10px auto;
}

#three_features h3 {
	padding:0 0 0 80px;
}

#three_features p {
	width:530px;
	float:left;
	margin:10px 20px 18px 80px;
}

#three_features img.features_icon {
	margin:10px 0 20px 0;
}

	/*　他社との違いと卒業生の声の共通部分　*/

.innerGlow {
	margin: 0 0 0 42px;
	background-image:url(../image/top/compare_backgraound_middle.jpg);
	background-repeat:repeat-y;
}

.innerGlow img{
	display:block;
	margin:0 0 0 10px;
	paddingt:20px 0 0 0;
	}
.innerGlow p{
	color:#F00;
	width:830px;
	margin:0 0 0 27px;
	}
img.compareBottom {
	margin: 0 0 0 42px;
}
	/*　他社との違い部分　*/
.innerGlow img.differencePints{
	margin:0 0 0 10px;
	}

	/*　卒業生の声部分　*/
.studentBox_left {
	background-image:url(../image/top/graduated_window.jpg);
	background-repeat:no-repeat;
	width:400px;
	height:180px;
	float:left;
	padding:10px 0 0 10px;
	margin:20px 0 0 20px;
	}

.studentBox_right {
	background-image:url(../image/top/graduated_window.jpg);
	background-repeat:no-repeat;
	width:400px;
	height:180px;
	float:left;
	padding:10px 0 0 10px;
	margin:20px 0 0 20px;
	}

.SBleft {
	margin:0 20px 0 0;
	width:120px;
	float:left;
	
	}
.SBright {
	padding:0 0 0 0;
	float:left;
	width:260px;
	}

.SBright h3 {
	margin:0 0 5px 0;
	}

.SBright h3 a {
	color:#688C00;
	}

.SBright h3 a:hover {
	color:#688C00;
	}
	
.SBright dt {
	width:250px;
	font-weight:bold;
	font-size:14px;
	margin:0 0 5px 0;
	}
.SBright dd {
	width:250px;
	font-size:14px;
	}


/*　企業一覧　*/

img.companytop {
	margin: 0 0 0 42px;
	}
#companyTable {
	width:850px;
	margin:0 0 0 10px;
	}

#companyTable img {
	margin:8px auto;
	}

#companyTable tr {
	margin-top:10px;
	}

/*　フッタ部分　*/
#footer_wrap {
	background-image:url(../image/top/footer_bar.jpg);
	height:342px;
	background-repeat:repeat-x;
	clear:both;
	}
#footer {
	width: 960px;
	margin: 0 auto;
	padding-left: 9px;
	color: #FFF;
	font-size:12px;
}
	/*　フッタロゴ　*/
#footerLogo {
	width:227px;
	height:342px;
	background-color:#FFF;
	float:left;
	}
#footerLogo img {
	padding:20px 10px;
	}

	/*　フッタメニュー・住所等　*/
#footerInfo {
	width:400px;
	margin:30px 0 0px 10px;
	float:left;
	}

#footerInfo_address {
	width:180px;
	float:left;
	margin:60px 0 0 0;
	}
#footerInfo_nearSta {
	width:220px;
	float:left;
	margin:60px 0 0 0;
	}


#footerInfo dl {
	}
#footerInfo dt {
	float:left;
	}

#footerInfo_address dd{
	float:left;
	width:115px;
	}


#footerInfo_nearSta dd{
	float:left;
	width:170px;
	}

#footerInfo a{
	color:#FFF;
	}
#footerInfo a:hover{
	color:#CCC;
	}
address {
	margin:230px 0 0 0;
	clear:both;
	}

	/*　フェイスブック　*/

#faceBookPI {
	width:304px;
	float:left;
	background-color:#FFF;
	margin:30px 0 0 0;
	}

/*　下位ページ　*/

/*　汎用的クラス　*/
.notes {
	text-align:center;
	}
.cb {
	clear:both;
	}
.textImportant {
	font-weight:bold;
	color:#F00;
	}

.moreInfo {
	margin:10px 50px 10px 0;
	text-align:right;
	display:block;
	}/*　もっと詳しくボタン　*/

.contactButton {
	display:block;
	margin:20px auto;
	width:813px;
	height:180px;
	}
.pagetop {
	margin:10px 50px 0 0;
	padding:0 0 10px 0;
	text-align:right;
	display:block;
	clear:both;
	}

/*20130312追記　西村*/	
img.top_img {
	padding-left: 9px;
}

h2 {
	margin-bottom: 10px;
}

.pb20 {
	padding-bottom: 20px;
}

#lowerContentLeft .box_b20 {
	margin-bottom: 20px;
}

