/*-----------------------------------------------
「卒業生の声」ページ専用
-----------------------------------------------*/
#lowerContentLeft .voice,
#lowerContentLeft .voice_end {
	width: 590px;/*620px*/
	margin: 0 auto 10px;
	background: url('../image/voice/voice_bg.gif') left bottom no-repeat;
	padding: 15px;
	clear: both;
}

#lowerContentLeft .voice:after,
#lowerContentLeft .voice_end:after {
  content: ".";
  display: block;
  visibility: hidden;
  height: 0.1px;
  font-size: 0.1em;
  line-height: 0;
  clear: both;
}

#lowerContentLeft .voice_end {
	margin-bottom: 25px;
}

#lowerContentLeft .voice img,
#lowerContentLeft .voice_end img {
	float: left;
	margin-right: 12px;
}

#lowerContentLeft .voice div,
#lowerContentLeft .voice_end div {
	float: right;
	width: 458px;
	height: auto;
}

#lowerContentLeft .voice div h3,
#lowerContentLeft .voice_end div h3 {
	background: none;
	color: #688C00;
	font-size: 18px;
	margin: 0;
	padding: 0;
	width: 458px;
	height: auto;
	font-weight: bold;
	margin-bottom: 10px;
}

#lowerContentLeft .voice div dl,
#lowerContentLeft .voice_end div dl {
	color: #666666;
}

#lowerContentLeft .voice div dl dt,
#lowerContentLeft .voice_end div dl dt {
	font-weight: bold;
	line-height: 1.0em;
    margin-bottom: 10px;
}

#lowerContentLeft .voice div dl dd p,
#lowerContentLeft .voice_end div dl dd p {
	margin: 0;
	padding: 0;
	width: 458px;
}

/*-----------------------------------------------
「卒業生の声」ページ専用
=================================================
文字
-----------------------------------------------*/
#lowerContentLeft .attention {
	width: 580px;
	margin-left: 32px;
}

#lowerContentLeft .attention:before {
	content: "※";
	color: #FF0000;
	font-weight: bold;
	margin-right: 4px;
}

#lowerContentLeft .attention p {
	float: right;
	width: 557px;
	color: #666666;
	text-indent: 0;
	margin: 0;
	padding: 0;
}